@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --text: #3e3e3e;
    --coral: #d16e64;
    --coral-light: #ff958a;
    --pink: #ffd5d0;
    --blue: #b6e4ff;
    --blue-light: #f1f9ff;
    --gray: #bdbdbd;
    --gray-light: #eaeaea;
    --gray-dark: #7e7e7e;
}

*::-webkit-scrollbar{
    width: 6px;
    height: 6px;
}

*::-webkit-scrollbar-thumb{
    background: var(--gray);
    border-radius: 6px;
}

*::-webkit-scrollbar-track{
    background: var(--gray-light);
}

body {
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
    background-color: var(--coral);
}

ion-icon {
    margin-bottom: -2px;
}

/* sidebar */

aside.sidebar {
    width: 200px;
    height: 100vh;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    padding: 3em 1em;
    overflow-y: auto;
}

.logo {
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   text-decoration: none;
   margin-bottom: 3em;
}

.logo span {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    color: var(--coral);
    border: 3px solid var(--coral);
    border-radius: 50px;
    font-weight: 600;
}

/* sidebar menu */

nav.sidebar-menu {
    width: 100%;
}

.sidebar-menu ul {
    list-style: none;
}

.sidebar-menu ul li {
    margin-bottom: .75em;
}

.sidebar-menu ul li a {
    width: 100%;
    display: flex;
    align-items: center;
    line-height: 40px;
    color: var(--text);
    border-radius: 4px;
    font-size: 16px;
    padding: 0 .75em;
    text-decoration: none;
}

.sidebar-menu ul li:hover a,
.sidebar-menu ul li.active a {
    background-color: var(--blue);
}

.menu-icon {
    margin-right: .5em;
}

/* header */

header {
    position: relative;
    left: 200px;
    width: calc(100% - 200px);
    height: 80px;
    padding: 0 2em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header h1 {
    color: #fff;
    font-size: 28px;
}

header h1 ion-icon {
    margin-right: .25em;
    color: var(--blue);
    margin-bottom: -4px;
}

.flex {
    display: flex;
    align-items: center;
}

.notifications {
    position: relative;
    margin-right: 1.5em;
}

.notifications:after {
    content: "1";
    position: absolute;
    top: -8px;
    right: -8px;
    width: 15px;
    height: 15px;
    background-color: red;
    color: #fff;
    border-radius: 50%;
    font-size: 10px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
}

.notifications ion-icon {
    font-size: 1.5em;
    color: #fff;
    margin-bottom: -6px;
}

.user-info {
    position: relative;
}

.user-info span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    background-color: var(--blue);
    border-radius: 50%;
    cursor: pointer;
}

 /* content */

 section.content {
     position: relative;
     top: 0;
     left: 200px;
     width: calc(100vw - 200px);
     min-height: calc(100vh - 80px);
     padding: 2em;
     column-gap: 1.5em;
     display: flex;
     justify-content: space-between;
     background-image: url(../../assets/img/background.png);
     background-size: cover;
     background-repeat: no-repeat;
 }

 article.box {
     width: 33%;
     background-color: rgba(255,213,208,.5);
     /* backdrop-filter: blur(3px); */
     border-radius: 4px;
     padding: 1.25em;
 }

 article.box h3 {
     color: var(--text);
     font-size: 18px;
     text-transform: uppercase;
     font-weight: 700;
     margin-bottom: 1.25em;
 }

 .task {
     background-color: #fff;
     padding: 1.25em;
     border-radius: 4px;
     font-size: 14px;
     color: var(--gray-dark);
     cursor: pointer;
 }

 .task:not(:last-child) {
     margin-bottom: 1.5em;
 }

 .task-title {
     color: var(--text);
     font-weight: 500;
     font-size: 16px;
 }

 .task-due,
 .task-infos,
 .task-title {
     margin-bottom: .5em;
 }

 .task-infos span {
    margin-right: .75em;

 }

 .task-attachments ion-icon {
    margin-right: -2px;
 }

 .task-responsable {
     justify-content: space-between;
     align-items: center;
 }

 .task-user {
     width: 30px;
     height: 30px;
     background-color: var(--coral);
     display: flex;
     align-items: center;
     justify-content: center;
     color: #fff;
     border-radius: 50%;
 }

